/* .container_info_display_Operators {
  display: flex;
  flex-grow: 1;
  position: relative;
  flex-direction: column;
  border-radius: 2vh;
  background-color: #282c34;
} */

.HQ_Info_Display {
  display: flex;
  flex-grow: 1;
  justify-content: space-evenly;
  flex-direction: row;
  margin: "";
}
