.container_info_display_home {
  display: flex;
  height: 100%;
  width: 100%;
  margin: auto;
  border-radius: 1.7vh;
  background-color: #282c34;
  /* border: green dashed 4px; */
}

.age_table .ant-table-thead > tr > th {
  text-align: center;
}

.container_info_left {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 65%;
  align-items: center;
  /* border: blue solid 2px; */
}
.container_info_right {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 35%;
  /* border: white solid 2px; */
}

.container_top_left {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 16px;
  padding-top: 0px;
}

.container_top_left_column_1 {
  margin-right: 12px;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.container_top_left_column_1_row_1 {
  margin-bottom: 12px;
  flex-grow: 8;
  display: flex;
}
.container_top_left_column_1_row_2 {
  margin-bottom: 12px;
  display: flex;
  flex: 1;
}

.container_top_left_column_2 {
  display: flex;
  flex: 1;
}
.container_top_left_column_3_row_3 {
  display: flex;
  flex: 1;
}

.downloadBtn {
  border: 1px solid #82cdbf;
  background-color: transparent;
  color: #82cdbf;
  border-radius: 0.8vh;
  padding: 5px 20px 5px 20px;
  margin: 5px 15px 5px 15px;
  width: 30%;
}
.downloadBtn:hover {
  scale: 0.95;
}

.securityReport {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 10px 0px 10px;
}

.laborInformation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 10px 0px 30px;
}

.text_box_white {
  border: white 1px solid;
  color: white;
  background-color: transparent;

  border-radius: 0.8vh;
  padding: 5px 20px 5px 20px;
  margin: 5px 15px 5px 15px;
  width: 30%;
}
