.container_info_display_home {
  display: flex;
  height: 100%;
  width: 100%;
  margin: auto;
  border-radius: 20px;
  background-color: #282c34;
  border: green dashed 4px;
}

.container_info_left {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 65%;
  align-items: center;
  border: blue solid 2px;
}
.container_info_right {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 35%;
  border: white solid 2px;
}
