.main_container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  padding-top: 16px;
  padding-left: 24px;
  /* border: blue dashed 5px; */
}

.container_header {
  display: flex;
  align-items: center;
  /* border: red dashed 5px; */
}

.container_underTop {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  /* border: white dashed 2px; */
}

.container_body {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  /* border: hotpink dashed 2px; */
}

.container_body_router {
  display: flex;
  flex-grow: 1;
}

.container_body_router>div {
  display: flex;
  flex-grow: 1;
}
