.container_info_display_Operators {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  border-radius: 20px;
  background-color: #282c34;
  /* border: green dashed 2px; */
}

.container_bottom_Operators {
  display: flex;
  height: 50%;
  width: 95%;
  flex-direction: row;
  margin: 0% 2% 2% 2%;
  /* border: green solid 1px; */
}
