.SiteEmploymentInformation {
  display: flex;
  flex-direction: column;
  background-color: #181a20;
  height: 50%;

  margin: 1vh 1vh 1vh 1vh;
  border-radius: 1.5vh;
  /* border: red solid 0.2vh; */
}

.SiteEmploymentInformation_title {
  font-size: 2.5vh;
  text-align: left;
  width: 15%;
  /* border: 0.2vh solid blue; */
}

.SiteEmploymentInformation_top {
  display: flex;
  margin: 0% auto;
  height: 5vh;
  width: 95%;
  align-items: center;
  border-radius: 1.5vh;
  justify-content: space-between;
  /* border: hotpink solid 0.2vh; */
}

.SiteEmploymentInformation_table {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #272a33;
  margin: 0% auto auto auto;
  height: 30vh;
  width: 97.5%;
  border-radius: 1vh;
  /* border: blue solid 0.2vh; */
}

.SiteEmploymentInformation_searchBar_container {
  display: flex;
  height: 65%;
  width: 50%;
  border-radius: 1.5vh;
  justify-content: space-between;
  color: white;
  align-items: center;
  margin: 0% 0% 0% 2%;
  background-color: #181a20;
  border: #d8d8d8 solid 0.2vh;
}
.SiteEmploymentInformation_searchBar_content {
  display: flex;
  font-size: 0.9vw;
  height: 55%;
  width: 200%;
  border: none;
  justify-content: space-between;
  color: white;
  align-items: center;
  margin: 0% 0% 0% 15%;
  background-color: transparent;
}

.SiteEmploymentInformation_export {
  display: flex;
  height: 4vh;
  width: 6vw;
  font-size: 1vw;
  border-radius: 0.8vh;
  justify-content: center;
  align-items: center;
  color: #82cdbf;
  background-color: transparent;
  margin: 0vh 0.5vh 0vh auto;
  border: #82cdbf solid 0.2vh;
}
