.SiteAccessInformation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #181a20;
  width: 70%;
  margin: 0vh 0.5vh 0vh 0vh;
  border-radius: 1.5vh;
  justify-content: center;
  /* border: yellow solid 0.2vh; */
}

.SiteAccessInformation_title {
  font-size: 2.5vh;
  text-align: left;
  width: 20%;
  /* border: 0.2vh solid blue; */
}

.SiteAccessInformation_top {
  display: flex;
  margin: 0% auto;
  height: 5vh;
  width: 95%;
  align-items: center;
  border-radius: 1.2vh;
  justify-content: center;
  /* border: hotpink solid 0.2vh; */
}
.SiteAccessInformation_table {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 29vh;
  width: 96.2%;
  margin: 0vh auto 0.8vh auto;
  background-color: #272a33;
  border-radius: 1vh;
  /* border: blue solid 0.2vh; */
}

.SiteAccessInformation_searchBar_container {
  display: flex;
  height: 55%;
  width: 50%;
  border-radius: 1.5vh;
  justify-content: space-between;
  color: white;
  align-items: center;
  margin: 0% 0% 0% 2%;
  background-color: #181a20;
  border: #d8d8d8 solid 0.2vh;
}
.SiteAccessInformation_searchBar_content {
  display: flex;
  height: 55%;
  width: 150%;
  font-size: 0.9vw;
  border: none;
  justify-content: space-between;
  color: white;
  align-items: center;
  margin: 0% 10% 0% 10%;
  background-color: transparent;
}

.SiteAccessInformation_export {
  display: flex;
  height: 4vh;
  width: 6vw;
  font-size: 1vw;
  border-radius: 0.8vh;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  color: #82cdbf;
  margin: 0vh 0.5vh 0vh auto;
  border: #82cdbf solid 0.2vh;
}
