
.gridview-outer-container {
  display: flex;
  flex-grow: 1;
  background-color: #282c34;
  padding: 16px;
  border-top-left-radius: 32px;
}

.gridview-container {
  flex-grow: 1;
  position: relative;
}

.gridview-cell {
  position: absolute;
  flex-direction: column;
  display: flex;
  background-color: #181a20;
  border-radius: 24px;
  padding-top: 16px;
}

.gridview-cell-header {
  display: flex;
  position: relative;
  padding-left: 16px;
  padding-right: 16px;
  align-items: center;
  font-size: 21px;
  font-weight: 500;
}

.gridview-cell-header-action {
  position: absolute;
  right: 16px;
  top: 0;
  bottom: 0;
}

.gridview-cell-body {
  flex-grow: 1;
  background-color: #1F2129;
  margin-top: 8px;
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 16px;
  padding: 16px;
  border-radius: 16px;
}

.gridview-body {
  flex-direction: column;
  display: flex;
  background-color: rgba(39, 42, 51, 0.4);
  border-radius: 24px;
  padding-top: 16px;
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 8px;
}

.gridview-body-title {
  font-size: 16px;
  margin-bottom: 4px;
}