.container_info_leftTop_sitesList {
  display: flex;
  height: 80%;
  width: 98%;
  border: white dashed 2px;
}

.container_info_leftBottom {
  display: flex;
  flex-direction: column;
  height: 50%;
  width: 95%;
  border-radius: 10px;
  margin: 10px;
  /* padding: 5px; */
  align-items: center;
  background-color: #181a20;
  border: orange dashed 2px;
}

.container_info_leftTop_searchBar {
  display: flex;
  height: 8%;
  width: 98%;
  border-radius: 12px;
  justify-content: left;
  align-items: center;
  margin: 0px auto;
  border: grey solid 2px;
}

.siteWindow {
  display: flex;
  height: 10%;
  width: 100%;
  margin: 8%;
  padding: 8%;
  border: hotpink dashed 2px;
}

.container_site_item_inactiveBasic {
  display: flex;
}

.site_item_activeBasic {
  display: inline-flex;
  width: 20%;
  height: 35%;
  border-radius: 15px;
  border: solid 2px #82cdbf;
  background-color: rgba(39, 42, 51, 0.4);
  color: #fff;

  margin: 1% 1% 1% 1%;
  padding: 1% 1% 1% 1%;
}

.site_item_inactiveBasic {
  display: inline-flex;
  width: 20%;
  height: 35%;
  border-radius: 15px;
  border: solid 1px yellow;
  background-color: rgba(39, 42, 51, 0.4);
  color: #fff;
  padding: 1% 1% 1% 1%;
  margin: 1% 1% 1% 1%;
}

.site_device_numBasic {
  font-size: 0.5em;
  color: #898d99;
  height: 20%;
  text-align: center;
  /* border: solid 2px red; */
}

.site_enterBasic {
  background: #82cdbf;
  color: #181a20;
  font-size: 0.9em;
  width: 90%;
  height: 15%;
  margin: 5px auto;
  padding: 1% 0;
  text-align: center;
  border-radius: 10px;
  /* border: solid 1px red; */
}

.container_emptyIcons {
  width: 20%;
  height: 35%;
  /* border: solid 1px green; */
  text-align: center;
  display: inline-flex;
  background-color: rgba(39, 42, 51, 0.4);
  padding: 1% 1% 1% 1%;
  margin: 1% 1% 1% 1%;
  border-radius: 15px;
}

.emptyIcons {
  display: inline-flex;
  margin: auto;
  /* border: solid 1px blue; */
  border-radius: 20px;
  height: 95%;
  width: 85%;
}

.container_list_of_sites {
  display: flex wrap;
  flex-direction: row;
  border: green dashed 1px;

  /* margin: auto; */
}

.sites_customer_logo {
  width: 90%;
  height: 80%;
  margin: 0px;
}
.sites_icon_localisation {
  height: 2em;
  margin: 5px 0px 0px 0px;
}
