.container_info_rightBottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 95%;
  border-radius: 10px;
  margin: 10px;
  background-color: #181a20;
  border: hotpink dashed 2px;
}
.container_info_rightBottom_title {
  display: flex;
  border: red dashed 2px;
  width: 90%;
  height: 10%;
  align-items: center;
  text-align: left;
}

.container_info_rightBottom_map {
  display: flex;
  height: 100%;
  width: 90%;
  border: white dashed 2px;
}
