.container_top_pannel {
  display: flex;
  text-align: start;
  width: 100%;
  height: 100%;
  /* background-color: red; */
}

.container-consimLogo {
  display: flex;
  height: 100%;
  width: 10%;
  align-items: center;
  /* border: blue 1px solid; */
}

.consimLogo {
  height: 90%;
  width: 75%;
  margin-left: 5%;
  /* background-color: green; */
}

.container_consimTitle {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 30%;
  color: #82cdbf;
  font-size: 1.4vw;
  /* border: blue 1px solid; */
}

.NavRouter {
  display: flex;
  font-size: 1.2vw;
}

.container-companyLogo {
  text-align: right;

  width: 60%;

  /* background-color: green; */
}

.companyLogo_basic {
  width: 35%;

  /* border: blue 1px dashed; */
}
