.container_top_pannel {
  display: flex;
  flex-grow: 1;
}

.container_consimLogo {
  display: flex;
  align-items: center;
}

.consimLogo {
  display: flex;
  height: 48px;
  width: 80px;
}

.container_consimTitle_router {
  display: flex;
  flex-direction: column;
  font-size: 14px;
}

.NavRouter {
  display: flex;
  font-size: 14px;
}

.container_companyLogo {
  display: flex;
  width: 160px;
  height: 33px;
}

.display_logo {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 30px;
  flex-grow: 1;
}

.companyLogo_basic {
  display: flex;
  height: 64px;
}

.companyLogo_text {
  height: 26px;
}

.text_logo {
  font-size: 28px;
  font-weight: 700;
}

.container_router {
  display: flex;
  align-items: center;
  flex-grow: 1;
}
