.container_info_rightTop {
  display: flex;
  flex-direction: column;
  height: 40vh;
  width: 95%;
  border-radius: 1.2vh;
  margin: 1vh;
  background-color: #181a20;
  /* border: yellow dashed 2px; */
}

.container_info_rightTop_head {
  display: flex;
  flex-direction: column;
  text-align: left;

  height: 8%;
  width: 90%;
  margin: 0px auto;
  /* border: blue dashed 2px; */
}
.container_info_rightTop_pannelOne {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 1.2vh;
  background: rgba(39, 42, 51, 0.4);
  padding: 1%;
  height: 10%;
  width: 90%;
  margin: 1vh auto 0.1vh auto;
  /* border: green dashed 2px; */
}
.container_info_rightTop_pannelTwo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 1.2vh;
  background: rgba(39, 42, 51, 0.4);
  padding: 1%;
  height: 10%;
  width: 90%;
  margin: 1vh auto 1vh auto;
  /* border: yellow dashed 2px; */
}
.container_info_rightTop_pannelThree {
  display: flex;
  flex-direction: column;
  border-radius: 1.2vh;
  background: rgba(39, 42, 51, 0.4);
  height: 90%;
  width: 90%;
  padding: 1%;
  margin: 0vh auto 1.2vh auto;
  /* border: hotpink dashed 2px; */
}

.NoInformation {
  display: flex;
  justify-content: center;
  padding: 2%;
  height: 70%;
  /* border: 1px red solid; */
}

.container_info_rightTop_green_numbers {
  font-size: 1.6vw;
  font-weight: 700;
  color: #65ae9d;
}

.container_info_rightTop_title {
  font-size: 1.1vw;
  margin: 1% 1% 1% 3%;
}

.container_info_rightTop_text {
  font-size: 1.2vw;
}
