.container_info_rightTop {
  display: flex;
  flex-direction: column;
  padding-right: 16px;
  padding-left: 16px;
  padding-top: 8px;
  padding-bottom: 16px;
  flex-grow: 1;
}

.container_info_rightTop_head {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.container_info_rightTop_pannelOne {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 16px;
  background: rgba(39, 42, 51, 0.4);
  margin-bottom: 12px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.container_info_rightTop_pannelTwo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 16px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  background: rgba(39, 42, 51, 0.4);
  margin-bottom: 12px;
}

.container_info_rightTop_pannelThree {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  border-radius: 16px;
  padding: 8px;
  background: rgba(39, 42, 51, 0.4);
}

.NoInformation {
  display: flex;
  justify-content: center;
  padding: 2%;
  height: 70%;
}

.container_info_rightTop_green_numbers {
  font-size: 18px;
  font-weight: 600;
  color: #65ae9d;
}

.container_info_rightTop_title {
  font-size: 18px;
  margin-top: 4px;
}

.container_info_rightTop_text {
  margin-top: 8px;
  font-size: 12px;
}
