.container_info_leftBottom {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  background-color: #181a20;
  padding-left: 8px;
  padding-right: 8px;
  overflow-y: scroll;
}

.col {
  display: flex;
  min-width: 148px;
  min-height: 148px;
}

.row {
  flex-grow: 1;
}

.site_item_container {
  flex-grow: 1;
  margin: 8px;
  padding: 12px;
  border-radius: 12px;
  background-color: rgba(39, 42, 51, 0.4);
}

.site_item_container.selected {
  border: solid 2px #82cdbf;
}

.container_emptyIcons_home {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container_info_leftBottom_sitesList {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 24px;
}

.container_info_leftBottom_searchBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  border: grey solid 2px;
  border-radius: 8px;
  margin-left: 8px;
  margin-right: 8px;
}

.site_item_activeBasic {
  display: inline-flex;
  width: 20%;
  border: solid 2px #82cdbf;
  background-color: rgba(39, 42, 51, 0.4);
  color: #fff;
}

.site_item_inactiveBasic {
  display: inline-flex;
  border: solid 0.3vh transparent;
  background-color: rgba(39, 42, 51, 0.4);
  color: #fff;
}

.site_item_inactiveBasic_container_text {
  display: flex;
  flex-direction: column;
}

.site_device_name_site {
  display: flex;
  flex-direction: column;
  text-align: left;  
  /* border: solid 2px red; */
}

.site_device_name_title {
  display: flex;
  font-size: 14px;
  font-weight: bold;

  /* border: hotpink 1px solid; */
}

.site_device_numBasic {
  display: flex;
  color: #898d99;
  align-items: center;
  height: 48px;
  /* border: solid 2px yellow; */
}

.sites_icon_localisation_img {
  /* border: solid 2px green; */
  width: 20px;
  height: 20px;
  margin-right: 8px;
}

.sites_icon_localisation_text {
  display: flex;
  font-size: 10px;
  text-align: start;
  /* border: solid 2px blue; */
}

.site_enterBasic_home {
  background: #82cdbf;
  color: #181a20;
  /* border: solid 1px red; */
}

.sites_button {
  font-size: 12px;
  color: black;
}

.sites_button:hover {
  color: black;
}

.emptyIcons_home {
}


.ListOfSite_SearchBar {
  margin-left: 8px;
  border: none;
  align-items: center;
  background-color: transparent;
  color: white;
  align-items: center;
}
