.container_info_leftBottom {
  display: flex;
  flex-direction: column;
  height: 37.5vh;
  width: 97.5%;
  border-radius: 10px;
  margin: 1vh;

  align-items: center;
  background-color: #181a20;
  /* border: orange dashed 2px; */
}

.container_info_leftBottom_searchBar {
  display: flex;
  height: 3vh;
  width: 94%;
  border-radius: 12px;
  justify-content: space-between;
  align-items: center;
  margin: 0.5% auto;
  color: white;
  border: grey solid 2px;
}

.site_item_activeBasic {
  display: inline-flex;
  width: 20%;
  height: 35%;
  border-radius: 15px;
  border: solid 2px #82cdbf;
  background-color: rgba(39, 42, 51, 0.4);
  color: #fff;
  padding: 1.4% 0.9% 1% 0.9%;
  margin: 0% 1% 1% 1%;
}

.site_item_inactiveBasic {
  display: inline-flex;
  width: 20%;
  height: 50%;
  border-radius: 15px;
  border: solid 2px transparent;
  background-color: rgba(39, 42, 51, 0.4);
  color: #fff;
  padding: 1.4% 0.9% 1% 0.9%;
  margin: 0.5% 1% 1% 1%;
}

.site_item_inactiveBasic_container_text {
  /* border: solid green 1px; */
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.site_device_name_site {
  display: flex;
  font-size: 1em;
  text-align: left;
  height: 20%;
  width: 100%;
  margin: 0px auto 5%;
  align-items: center;
  /* border: solid 2px red; */
}

.site_device_name_title {
  display: flex;
  font-size: 1vw;
  /* border: hotpink 1px solid; */
}

.site_device_numBasic {
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  text-align: justify;
  color: #898d99;
  height: 25%;
  margin: 0px auto;
  /* border: solid 2px yellow; */
}

.sites_icon_localisation_img {
  height: 0.9vw;
  margin-right: 1px;
  /* border: solid 2px green; */
}

.sites_icon_localisation_text {
  display: flex;
  /* border: solid 2px blue; */
  width: 100%;
  height: 40%;
  font-size: 0.7vw;
}

.site_enterBasic_home {
  background: #82cdbf;
  color: #181a20;
  font-size: 0.8vw;
  width: 90%;
  height: 15%;
  margin: 2% auto;
  text-align: center;
  border-radius: 10px;
  /* border: solid 1px red; */
}

.container_emptyIcons_home {
  display: inline-flex;
  width: 20%;
  height: 100%;
  border: solid 2px transparent;
  background-color: rgba(39, 42, 51, 0.4);
  padding: 0.6% 0.9% 0.6% 0.9%;
  margin: 0.5% 1% 1% 1%;
  border-radius: 15px;
}

.emptyIcons_home {
  display: flex;
  height: 12vh;
  margin: 0px auto;
  padding: 2% 0% 2% 0%;
  /* border: solid 1px blue; */
  border-radius: 20px;
}

.container_home_list_of_sites {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  height: 100%;
  width: 95%;
  /* border: red dashed 2px; */
  margin: auto;
}

.ListOfSite_SearchBar {
  margin-left: 5%;
  border: none;
  align-items: center;
  background-color: transparent;
  width: 30vw;
  color: white;
  font-size: 1vw;
  align-items: center;
}
