.Container_PieChart {
  display: flex;
  height: 19vh;

  border: 1px solid blue;
}

.Container_PieChart_Content {
  margin: 0vh 1vw 0vh 0vw;
  height: 18vh;
  width: 14vw;
  border: 1px solid red;
}
.Container_PieChart_Legend {
  margin: 3vh 0.5vw 1vw 0vw;
  height: 10vh;
  width: 5vw;
  border: 1px solid yellow;
}
