.TopNavBar_Table_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #82cdbf;
  font-size: 14px;
  /* margin: 0.2vh 0.5vh 0.2vh 0.5vh; */
}

.triangle-right {
  border-top: 3px solid transparent;
  border-left: 5px solid #82cdbf;
  border-bottom: 3px solid transparent;
  margin-right: 8px;
}

.container_consimTitle {
  margin-left: 18px;
  display: flex;
  text-align: start;

  flex-direction: column;
  color: #82cdbf;
}

.container_title_text {
  font-size: 20px;
}
