.TopNavBar_Table_container {
  font-size: 13.5px;
  color: #82cdbf;
  font-size: 1.2vw;
}

.triangle-right {
  width: 0;
  height: 0;
  border-top: 3px solid transparent;
  border-left: 6px solid #82cdbf;
  border-bottom: 3px solid transparent;
}
